{% extends 'base.html' %}
{% block conteudo %}
    <title>Carrinho</title>

    <h1>Carrinho</h1>
    <table>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço Unitário</th>
            <th>Preço Total</th>
        </tr>
        {% for item in carrinho %}
        <tr>
            <td>{{ item['produto']['nome'] }}</td>
            <td>{{ item['quantidade'] }}</td>
            <td>R$ {{ item['produto']['preco'] }}</td>
            <td>R$ {{ item['produto']['preco'] * item['quantidade'] }}</td>
            <td><a class="Editar" href="{{ url_for('editar_produto', index=loop.index0) }}">Editar</a></td>
            <td><a class="Editar" href="{{ url_for('excluir_produto', index=loop.index0) }}">Excluir</a></td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3"><strong>Total:</strong></td>
            <td><strong>R$ {{ total }}</strong></td>
        </tr>
    </table>
    <p><a class="voltar" href="/produtos"><span>Voltar</span></a></p>

{% endblock %}
